*{
    box-sizing: border-box;
    padding: 0; margin: 0; border: 0;
}
*:not(h1,h2,h3,h4,h5,h6){
    font-size: 14pt;
}
ul,ol,li{
    list-style: none;
}

h1{
    font-size: 32pt;
}
h2{
    font-size: 28pt;
}
h3{
    font-size: 24pt;
}